* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    height: 100vh;
}

$shootingStarContainerCount: 3;
$starCount: 10;

.shootingStarContainer {
    @for $j from 1 through $shootingStarContainerCount {
        &:nth-child(#{$j}) {
            position: absolute;
            height: 100%;
            transform: rotate(random(10)+35deg);
        }
    }
}

.shootingStar {
    position: absolute;
    height: 1px;
    background: linear-gradient(-70deg, rgba(255, 235, 235, 1), rgba(0, 0, 0, 1));
    animation: shootingFrames ease-in-out;
    opacity: calc(random(70) / 100);

    @for $j from 1 through $shootingStarContainerCount {
        @for $i from 1 through $starCount {
            .shootingStarContainer:nth-child(#{$j}) &:nth-child(#{$i}) {
                $delay: random(60000) + 200ms;
                $duration: random(2000) + 750ms;
                left: random(50) + 0%;
                top: random(98) + 1%;
                animation-duration: $duration;
                animation-delay: $delay;
            }
        }
    }
}

@keyframes shootingFrames {
    0% {
        transform: translateX(0);
        width: 0;
    }

    30% {
        width: 200px;
    }

    100% {
        width: 0;
        transform: translateX(random(100) + 800px);
    }
}

.stars,
.twinkle,
.clouds {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display:block;

}

.stars {
    background:#000 url('./assets/stars.jpg') repeat top center;
}


.twinkle {
    background:transparent url('./assets/twinkleMask.png') ;
    height:100%;
    animation:twinkleFrames2 300s linear infinite;
}

.clouds {
    background:transparent url('./assets/clouds.png') repeat top center;
    height:100%;
    animation:cloudsFrames 300s linear infinite;
}

@keyframes twinkleFrames {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes twinkleFrames2 {
    from {background-position:0 0;}
    to {background-position:10000px 5000px;}
}

@keyframes cloudsFrames {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
